.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 238px 71.3333333333px #00ff62, 219px -273.6666666667px #00ff26, 35px -365.6666666667px #00ff44, 137px -347.6666666667px #1e00ff, 23px -64.6666666667px #1e00ff, -192px -185.6666666667px #b3ff00, -80px -24.6666666667px #ffbb00, 245px -130.6666666667px #005eff, 20px -188.6666666667px #1500ff, -35px -368.6666666667px aqua, -47px -1.6666666667px #0059ff, 95px -275.6666666667px #00ff59, -123px 62.3333333333px #aeff00, -182px -84.6666666667px #e6ff00, 236px -247.6666666667px #ff3300, 146px 4.3333333333px #ff00d0, -235px -100.6666666667px #0055ff, -202px 5.3333333333px #0022ff, -178px -308.6666666667px #00ff44, 25px -170.6666666667px #51ff00, -109px -59.6666666667px #0084ff, 97px -238.6666666667px #ff3c00, 130px -337.6666666667px #ff004d, 133px -377.6666666667px #2600ff, -152px -164.6666666667px #00c8ff, 53px -140.6666666667px #ff2600, 149px -346.6666666667px #aa00ff, 118px -70.6666666667px #73ff00, 240px -3.6666666667px #1e00ff, -2px -133.6666666667px #ff00a6, 95px -370.6666666667px #0004ff, -49px -20.6666666667px #00ff73, 94px -235.6666666667px #ff6200, -14px -228.6666666667px #002fff, -57px 60.3333333333px #22ff00, -15px -230.6666666667px #0037ff, -70px -32.6666666667px #00ffdd, -80px 58.3333333333px #3cff00, 113px -77.6666666667px #5100ff, 219px -30.6666666667px #66ff00, -179px -413.6666666667px #ff5100, 221px -147.6666666667px #5100ff, -115px -218.6666666667px #ff5e00, 209px -388.6666666667px #0004ff, 0px 40.3333333333px #ff00a2, -130px -311.6666666667px #00ffe1, 142px -274.6666666667px #ff008c, 139px 67.3333333333px #00ff62, 21px -292.6666666667px #11ff00, 236px -178.6666666667px #00ff6f, 143px -87.6666666667px #d0ff00;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 238px 71.3333333333px #00ff62, 219px -273.6666666667px #00ff26, 35px -365.6666666667px #00ff44, 137px -347.6666666667px #1e00ff, 23px -64.6666666667px #1e00ff, -192px -185.6666666667px #b3ff00, -80px -24.6666666667px #ffbb00, 245px -130.6666666667px #005eff, 20px -188.6666666667px #1500ff, -35px -368.6666666667px aqua, -47px -1.6666666667px #0059ff, 95px -275.6666666667px #00ff59, -123px 62.3333333333px #aeff00, -182px -84.6666666667px #e6ff00, 236px -247.6666666667px #ff3300, 146px 4.3333333333px #ff00d0, -235px -100.6666666667px #0055ff, -202px 5.3333333333px #0022ff, -178px -308.6666666667px #00ff44, 25px -170.6666666667px #51ff00, -109px -59.6666666667px #0084ff, 97px -238.6666666667px #ff3c00, 130px -337.6666666667px #ff004d, 133px -377.6666666667px #2600ff, -152px -164.6666666667px #00c8ff, 53px -140.6666666667px #ff2600, 149px -346.6666666667px #aa00ff, 118px -70.6666666667px #73ff00, 240px -3.6666666667px #1e00ff, -2px -133.6666666667px #ff00a6, 95px -370.6666666667px #0004ff, -49px -20.6666666667px #00ff73, 94px -235.6666666667px #ff6200, -14px -228.6666666667px #002fff, -57px 60.3333333333px #22ff00, -15px -230.6666666667px #0037ff, -70px -32.6666666667px #00ffdd, -80px 58.3333333333px #3cff00, 113px -77.6666666667px #5100ff, 219px -30.6666666667px #66ff00, -179px -413.6666666667px #ff5100, 221px -147.6666666667px #5100ff, -115px -218.6666666667px #ff5e00, 209px -388.6666666667px #0004ff, 0px 40.3333333333px #ff00a2, -130px -311.6666666667px #00ffe1, 142px -274.6666666667px #ff008c, 139px 67.3333333333px #00ff62, 21px -292.6666666667px #11ff00, 236px -178.6666666667px #00ff6f, 143px -87.6666666667px #d0ff00;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 238px 71.3333333333px #00ff62, 219px -273.6666666667px #00ff26, 35px -365.6666666667px #00ff44, 137px -347.6666666667px #1e00ff, 23px -64.6666666667px #1e00ff, -192px -185.6666666667px #b3ff00, -80px -24.6666666667px #ffbb00, 245px -130.6666666667px #005eff, 20px -188.6666666667px #1500ff, -35px -368.6666666667px aqua, -47px -1.6666666667px #0059ff, 95px -275.6666666667px #00ff59, -123px 62.3333333333px #aeff00, -182px -84.6666666667px #e6ff00, 236px -247.6666666667px #ff3300, 146px 4.3333333333px #ff00d0, -235px -100.6666666667px #0055ff, -202px 5.3333333333px #0022ff, -178px -308.6666666667px #00ff44, 25px -170.6666666667px #51ff00, -109px -59.6666666667px #0084ff, 97px -238.6666666667px #ff3c00, 130px -337.6666666667px #ff004d, 133px -377.6666666667px #2600ff, -152px -164.6666666667px #00c8ff, 53px -140.6666666667px #ff2600, 149px -346.6666666667px #aa00ff, 118px -70.6666666667px #73ff00, 240px -3.6666666667px #1e00ff, -2px -133.6666666667px #ff00a6, 95px -370.6666666667px #0004ff, -49px -20.6666666667px #00ff73, 94px -235.6666666667px #ff6200, -14px -228.6666666667px #002fff, -57px 60.3333333333px #22ff00, -15px -230.6666666667px #0037ff, -70px -32.6666666667px #00ffdd, -80px 58.3333333333px #3cff00, 113px -77.6666666667px #5100ff, 219px -30.6666666667px #66ff00, -179px -413.6666666667px #ff5100, 221px -147.6666666667px #5100ff, -115px -218.6666666667px #ff5e00, 209px -388.6666666667px #0004ff, 0px 40.3333333333px #ff00a2, -130px -311.6666666667px #00ffe1, 142px -274.6666666667px #ff008c, 139px 67.3333333333px #00ff62, 21px -292.6666666667px #11ff00, 236px -178.6666666667px #00ff6f, 143px -87.6666666667px #d0ff00;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 238px 71.3333333333px #00ff62, 219px -273.6666666667px #00ff26, 35px -365.6666666667px #00ff44, 137px -347.6666666667px #1e00ff, 23px -64.6666666667px #1e00ff, -192px -185.6666666667px #b3ff00, -80px -24.6666666667px #ffbb00, 245px -130.6666666667px #005eff, 20px -188.6666666667px #1500ff, -35px -368.6666666667px aqua, -47px -1.6666666667px #0059ff, 95px -275.6666666667px #00ff59, -123px 62.3333333333px #aeff00, -182px -84.6666666667px #e6ff00, 236px -247.6666666667px #ff3300, 146px 4.3333333333px #ff00d0, -235px -100.6666666667px #0055ff, -202px 5.3333333333px #0022ff, -178px -308.6666666667px #00ff44, 25px -170.6666666667px #51ff00, -109px -59.6666666667px #0084ff, 97px -238.6666666667px #ff3c00, 130px -337.6666666667px #ff004d, 133px -377.6666666667px #2600ff, -152px -164.6666666667px #00c8ff, 53px -140.6666666667px #ff2600, 149px -346.6666666667px #aa00ff, 118px -70.6666666667px #73ff00, 240px -3.6666666667px #1e00ff, -2px -133.6666666667px #ff00a6, 95px -370.6666666667px #0004ff, -49px -20.6666666667px #00ff73, 94px -235.6666666667px #ff6200, -14px -228.6666666667px #002fff, -57px 60.3333333333px #22ff00, -15px -230.6666666667px #0037ff, -70px -32.6666666667px #00ffdd, -80px 58.3333333333px #3cff00, 113px -77.6666666667px #5100ff, 219px -30.6666666667px #66ff00, -179px -413.6666666667px #ff5100, 221px -147.6666666667px #5100ff, -115px -218.6666666667px #ff5e00, 209px -388.6666666667px #0004ff, 0px 40.3333333333px #ff00a2, -130px -311.6666666667px #00ffe1, 142px -274.6666666667px #ff008c, 139px 67.3333333333px #00ff62, 21px -292.6666666667px #11ff00, 236px -178.6666666667px #00ff6f, 143px -87.6666666667px #d0ff00;
  }
}
@keyframes bang {
  to {
    box-shadow: 238px 71.3333333333px #00ff62, 219px -273.6666666667px #00ff26, 35px -365.6666666667px #00ff44, 137px -347.6666666667px #1e00ff, 23px -64.6666666667px #1e00ff, -192px -185.6666666667px #b3ff00, -80px -24.6666666667px #ffbb00, 245px -130.6666666667px #005eff, 20px -188.6666666667px #1500ff, -35px -368.6666666667px aqua, -47px -1.6666666667px #0059ff, 95px -275.6666666667px #00ff59, -123px 62.3333333333px #aeff00, -182px -84.6666666667px #e6ff00, 236px -247.6666666667px #ff3300, 146px 4.3333333333px #ff00d0, -235px -100.6666666667px #0055ff, -202px 5.3333333333px #0022ff, -178px -308.6666666667px #00ff44, 25px -170.6666666667px #51ff00, -109px -59.6666666667px #0084ff, 97px -238.6666666667px #ff3c00, 130px -337.6666666667px #ff004d, 133px -377.6666666667px #2600ff, -152px -164.6666666667px #00c8ff, 53px -140.6666666667px #ff2600, 149px -346.6666666667px #aa00ff, 118px -70.6666666667px #73ff00, 240px -3.6666666667px #1e00ff, -2px -133.6666666667px #ff00a6, 95px -370.6666666667px #0004ff, -49px -20.6666666667px #00ff73, 94px -235.6666666667px #ff6200, -14px -228.6666666667px #002fff, -57px 60.3333333333px #22ff00, -15px -230.6666666667px #0037ff, -70px -32.6666666667px #00ffdd, -80px 58.3333333333px #3cff00, 113px -77.6666666667px #5100ff, 219px -30.6666666667px #66ff00, -179px -413.6666666667px #ff5100, 221px -147.6666666667px #5100ff, -115px -218.6666666667px #ff5e00, 209px -388.6666666667px #0004ff, 0px 40.3333333333px #ff00a2, -130px -311.6666666667px #00ffe1, 142px -274.6666666667px #ff008c, 139px 67.3333333333px #00ff62, 21px -292.6666666667px #11ff00, 236px -178.6666666667px #00ff6f, 143px -87.6666666667px #d0ff00;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  height: auto;
  background: url(./259411664_191344466450645_1475537966378332293_n.jpg), rgba(0, 0, 0, 0.685);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: transparent;
  background-image: linear-gradient(to right, #ffa400, #fd0000);
  -webkit-background-clip: text;
}

.header p strong {
  color: transparent;
  background-image: linear-gradient(to right, #ffa400, #fd0000);
  -webkit-background-clip: text;
}

.header p {
  font-size: 18px;
}

.count-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  font-size: 50px;
  color: #fff;
}

.count-item {
  text-align: center;
}

.count-content p {
  margin-bottom: 10px;
}

.count-content span {
  background-image: linear-gradient(to right, #ffa400, #fd0000);
  -webkit-background-clip: text;
}

.header {
  color: #fff;
  text-align: center;
  font-size: 50px;
  margin-bottom: 100px;
}

.animate__flipInX {
  animation-delay: 0.8s;
}

.footer {
  text-align: center;
  margin-top: 120px;
  color: #ffffff;
  font-size: 15px;
}

.footer a {
  text-decoration: none;
  color: #00ffff;
}

@media screen and (max-width: 1279px) {
  body {
    padding: 50px 30px;
  }

  .count-list {
    flex-direction: column;
  }

  .header h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }

  .header p {
    font-size: 13px;
  }

  .count-content p {
    font-size: 45px;
  }

  .count-content span {
    font-size: 25px;
  }

  .footer {
    font-size: 10px;
    line-height: 1;
  }
}

/*# sourceMappingURL=style.css.map */
