.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 1s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 1s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 1s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 1s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 1s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -32px -287.6666666667px #ff4800, 135px -186.6666666667px #eeff00, 30px -120.6666666667px #ff7300, -235px -393.6666666667px #00ffc8, 243px -5.6666666667px #d500ff, 25px -38.6666666667px #ff8800, 226px -215.6666666667px #00ffd0, -141px -237.6666666667px #00b7ff, -187px -393.6666666667px fuchsia, -149px -4.6666666667px #bb00ff, 194px -128.6666666667px #00ff44, -224px -188.6666666667px #9500ff, 126px -273.6666666667px #00ff73, 17px 47.3333333333px #c400ff, 114px 74.3333333333px #0022ff, 13px -120.6666666667px #ff004d, 14px -287.6666666667px #ff0051, 194px -391.6666666667px #00ff2b, -111px 43.3333333333px #6fff00, 220px -218.6666666667px #0026ff, -39px -69.6666666667px #ea00ff, -180px -380.6666666667px #001eff, 72px -84.6666666667px #2200ff, -220px 68.3333333333px #00fffb, 63px -201.6666666667px #00ffea, 13px -37.6666666667px #00ff4d, -165px -198.6666666667px #bb00ff, -220px -255.6666666667px #00ff44, 164px -385.6666666667px #48ff00, -244px -41.6666666667px #00bbff, -105px 23.3333333333px #007bff, -213px -89.6666666667px #ff00f2, -27px -243.6666666667px #00ff22, 233px -48.6666666667px #9d00ff, -15px 69.3333333333px #1100ff, -87px -206.6666666667px lime, 13px -216.6666666667px #ff002b, 149px -15.6666666667px darkorange, 6px -229.6666666667px #fbff00, 215px -321.6666666667px #00ff84, -200px 82.3333333333px #00c8ff, 183px -388.6666666667px #1100ff, -106px -248.6666666667px #00b7ff, 86px 13.3333333333px #ff00f2, -73px -25.6666666667px #6f00ff, -73px -336.6666666667px #ff002f, 120px 68.3333333333px #2bff00, 218px -294.6666666667px #ff0080, 127px 10.3333333333px #ff00ee, 142px -96.6666666667px #ff0095, -204px -393.6666666667px #ff003c, -149px 22.3333333333px #9d00ff, -47px -260.6666666667px #ff8000, -76px -362.6666666667px #00ff73, -240px -146.6666666667px #ff0080, 86px -59.6666666667px #ff00e6, -207px -408.6666666667px #ff5500, 153px -10.6666666667px #00ff7b, 216px 21.3333333333px #ff0009, 89px -242.6666666667px #0066ff, 186px -226.6666666667px #ff5900, -112px -270.6666666667px #1a00ff, 38px -335.6666666667px #3c00ff, -150px 17.3333333333px #00ff77, 94px -59.6666666667px #ccff00, 46px -194.6666666667px #ff2f00, 32px -363.6666666667px lime, 250px -323.6666666667px #7bff00, 176px -413.6666666667px #00ff26, 0px -137.6666666667px #a2ff00, 94px -313.6666666667px #fffb00, 103px -350.6666666667px #7700ff, -157px -64.6666666667px #0011ff, 18px 5.3333333333px #66ff00, -240px -303.6666666667px #2bff00, -1px 55.3333333333px #0009ff, -62px -388.6666666667px #ff00f2, 20px -113.6666666667px #5900ff, -219px -277.6666666667px #1aff00, -218px -30.6666666667px #00b7ff, -235px -53.6666666667px #ff5e00, 72px -246.6666666667px #ff9100, -38px -270.6666666667px aqua, -160px -273.6666666667px #ff0400, -136px -359.6666666667px #ff6a00, 40px -257.6666666667px #00ffae, 196px 48.3333333333px #ff7b00, -180px -0.6666666667px #ff0059, 114px 72.3333333333px #ff00e1, 29px -1.6666666667px #fff700, 32px -27.6666666667px #6f00ff, 123px -21.6666666667px #4400ff, 198px -223.6666666667px #ff6200, -211px -69.6666666667px #8000ff, 137px -53.6666666667px #0400ff, 154px -296.6666666667px #55ff00, 4px -408.6666666667px #00ff77, -12px -131.6666666667px #ffbf00, 191px -348.6666666667px #0dff00, 222px -402.6666666667px #b700ff, 184px -289.6666666667px #d500ff;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: -32px -287.6666666667px #ff4800, 135px -186.6666666667px #eeff00, 30px -120.6666666667px #ff7300, -235px -393.6666666667px #00ffc8, 243px -5.6666666667px #d500ff, 25px -38.6666666667px #ff8800, 226px -215.6666666667px #00ffd0, -141px -237.6666666667px #00b7ff, -187px -393.6666666667px fuchsia, -149px -4.6666666667px #bb00ff, 194px -128.6666666667px #00ff44, -224px -188.6666666667px #9500ff, 126px -273.6666666667px #00ff73, 17px 47.3333333333px #c400ff, 114px 74.3333333333px #0022ff, 13px -120.6666666667px #ff004d, 14px -287.6666666667px #ff0051, 194px -391.6666666667px #00ff2b, -111px 43.3333333333px #6fff00, 220px -218.6666666667px #0026ff, -39px -69.6666666667px #ea00ff, -180px -380.6666666667px #001eff, 72px -84.6666666667px #2200ff, -220px 68.3333333333px #00fffb, 63px -201.6666666667px #00ffea, 13px -37.6666666667px #00ff4d, -165px -198.6666666667px #bb00ff, -220px -255.6666666667px #00ff44, 164px -385.6666666667px #48ff00, -244px -41.6666666667px #00bbff, -105px 23.3333333333px #007bff, -213px -89.6666666667px #ff00f2, -27px -243.6666666667px #00ff22, 233px -48.6666666667px #9d00ff, -15px 69.3333333333px #1100ff, -87px -206.6666666667px lime, 13px -216.6666666667px #ff002b, 149px -15.6666666667px darkorange, 6px -229.6666666667px #fbff00, 215px -321.6666666667px #00ff84, -200px 82.3333333333px #00c8ff, 183px -388.6666666667px #1100ff, -106px -248.6666666667px #00b7ff, 86px 13.3333333333px #ff00f2, -73px -25.6666666667px #6f00ff, -73px -336.6666666667px #ff002f, 120px 68.3333333333px #2bff00, 218px -294.6666666667px #ff0080, 127px 10.3333333333px #ff00ee, 142px -96.6666666667px #ff0095, -204px -393.6666666667px #ff003c, -149px 22.3333333333px #9d00ff, -47px -260.6666666667px #ff8000, -76px -362.6666666667px #00ff73, -240px -146.6666666667px #ff0080, 86px -59.6666666667px #ff00e6, -207px -408.6666666667px #ff5500, 153px -10.6666666667px #00ff7b, 216px 21.3333333333px #ff0009, 89px -242.6666666667px #0066ff, 186px -226.6666666667px #ff5900, -112px -270.6666666667px #1a00ff, 38px -335.6666666667px #3c00ff, -150px 17.3333333333px #00ff77, 94px -59.6666666667px #ccff00, 46px -194.6666666667px #ff2f00, 32px -363.6666666667px lime, 250px -323.6666666667px #7bff00, 176px -413.6666666667px #00ff26, 0px -137.6666666667px #a2ff00, 94px -313.6666666667px #fffb00, 103px -350.6666666667px #7700ff, -157px -64.6666666667px #0011ff, 18px 5.3333333333px #66ff00, -240px -303.6666666667px #2bff00, -1px 55.3333333333px #0009ff, -62px -388.6666666667px #ff00f2, 20px -113.6666666667px #5900ff, -219px -277.6666666667px #1aff00, -218px -30.6666666667px #00b7ff, -235px -53.6666666667px #ff5e00, 72px -246.6666666667px #ff9100, -38px -270.6666666667px aqua, -160px -273.6666666667px #ff0400, -136px -359.6666666667px #ff6a00, 40px -257.6666666667px #00ffae, 196px 48.3333333333px #ff7b00, -180px -0.6666666667px #ff0059, 114px 72.3333333333px #ff00e1, 29px -1.6666666667px #fff700, 32px -27.6666666667px #6f00ff, 123px -21.6666666667px #4400ff, 198px -223.6666666667px #ff6200, -211px -69.6666666667px #8000ff, 137px -53.6666666667px #0400ff, 154px -296.6666666667px #55ff00, 4px -408.6666666667px #00ff77, -12px -131.6666666667px #ffbf00, 191px -348.6666666667px #0dff00, 222px -402.6666666667px #b700ff, 184px -289.6666666667px #d500ff;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: -32px -287.6666666667px #ff4800, 135px -186.6666666667px #eeff00, 30px -120.6666666667px #ff7300, -235px -393.6666666667px #00ffc8, 243px -5.6666666667px #d500ff, 25px -38.6666666667px #ff8800, 226px -215.6666666667px #00ffd0, -141px -237.6666666667px #00b7ff, -187px -393.6666666667px fuchsia, -149px -4.6666666667px #bb00ff, 194px -128.6666666667px #00ff44, -224px -188.6666666667px #9500ff, 126px -273.6666666667px #00ff73, 17px 47.3333333333px #c400ff, 114px 74.3333333333px #0022ff, 13px -120.6666666667px #ff004d, 14px -287.6666666667px #ff0051, 194px -391.6666666667px #00ff2b, -111px 43.3333333333px #6fff00, 220px -218.6666666667px #0026ff, -39px -69.6666666667px #ea00ff, -180px -380.6666666667px #001eff, 72px -84.6666666667px #2200ff, -220px 68.3333333333px #00fffb, 63px -201.6666666667px #00ffea, 13px -37.6666666667px #00ff4d, -165px -198.6666666667px #bb00ff, -220px -255.6666666667px #00ff44, 164px -385.6666666667px #48ff00, -244px -41.6666666667px #00bbff, -105px 23.3333333333px #007bff, -213px -89.6666666667px #ff00f2, -27px -243.6666666667px #00ff22, 233px -48.6666666667px #9d00ff, -15px 69.3333333333px #1100ff, -87px -206.6666666667px lime, 13px -216.6666666667px #ff002b, 149px -15.6666666667px darkorange, 6px -229.6666666667px #fbff00, 215px -321.6666666667px #00ff84, -200px 82.3333333333px #00c8ff, 183px -388.6666666667px #1100ff, -106px -248.6666666667px #00b7ff, 86px 13.3333333333px #ff00f2, -73px -25.6666666667px #6f00ff, -73px -336.6666666667px #ff002f, 120px 68.3333333333px #2bff00, 218px -294.6666666667px #ff0080, 127px 10.3333333333px #ff00ee, 142px -96.6666666667px #ff0095, -204px -393.6666666667px #ff003c, -149px 22.3333333333px #9d00ff, -47px -260.6666666667px #ff8000, -76px -362.6666666667px #00ff73, -240px -146.6666666667px #ff0080, 86px -59.6666666667px #ff00e6, -207px -408.6666666667px #ff5500, 153px -10.6666666667px #00ff7b, 216px 21.3333333333px #ff0009, 89px -242.6666666667px #0066ff, 186px -226.6666666667px #ff5900, -112px -270.6666666667px #1a00ff, 38px -335.6666666667px #3c00ff, -150px 17.3333333333px #00ff77, 94px -59.6666666667px #ccff00, 46px -194.6666666667px #ff2f00, 32px -363.6666666667px lime, 250px -323.6666666667px #7bff00, 176px -413.6666666667px #00ff26, 0px -137.6666666667px #a2ff00, 94px -313.6666666667px #fffb00, 103px -350.6666666667px #7700ff, -157px -64.6666666667px #0011ff, 18px 5.3333333333px #66ff00, -240px -303.6666666667px #2bff00, -1px 55.3333333333px #0009ff, -62px -388.6666666667px #ff00f2, 20px -113.6666666667px #5900ff, -219px -277.6666666667px #1aff00, -218px -30.6666666667px #00b7ff, -235px -53.6666666667px #ff5e00, 72px -246.6666666667px #ff9100, -38px -270.6666666667px aqua, -160px -273.6666666667px #ff0400, -136px -359.6666666667px #ff6a00, 40px -257.6666666667px #00ffae, 196px 48.3333333333px #ff7b00, -180px -0.6666666667px #ff0059, 114px 72.3333333333px #ff00e1, 29px -1.6666666667px #fff700, 32px -27.6666666667px #6f00ff, 123px -21.6666666667px #4400ff, 198px -223.6666666667px #ff6200, -211px -69.6666666667px #8000ff, 137px -53.6666666667px #0400ff, 154px -296.6666666667px #55ff00, 4px -408.6666666667px #00ff77, -12px -131.6666666667px #ffbf00, 191px -348.6666666667px #0dff00, 222px -402.6666666667px #b700ff, 184px -289.6666666667px #d500ff;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: -32px -287.6666666667px #ff4800, 135px -186.6666666667px #eeff00, 30px -120.6666666667px #ff7300, -235px -393.6666666667px #00ffc8, 243px -5.6666666667px #d500ff, 25px -38.6666666667px #ff8800, 226px -215.6666666667px #00ffd0, -141px -237.6666666667px #00b7ff, -187px -393.6666666667px fuchsia, -149px -4.6666666667px #bb00ff, 194px -128.6666666667px #00ff44, -224px -188.6666666667px #9500ff, 126px -273.6666666667px #00ff73, 17px 47.3333333333px #c400ff, 114px 74.3333333333px #0022ff, 13px -120.6666666667px #ff004d, 14px -287.6666666667px #ff0051, 194px -391.6666666667px #00ff2b, -111px 43.3333333333px #6fff00, 220px -218.6666666667px #0026ff, -39px -69.6666666667px #ea00ff, -180px -380.6666666667px #001eff, 72px -84.6666666667px #2200ff, -220px 68.3333333333px #00fffb, 63px -201.6666666667px #00ffea, 13px -37.6666666667px #00ff4d, -165px -198.6666666667px #bb00ff, -220px -255.6666666667px #00ff44, 164px -385.6666666667px #48ff00, -244px -41.6666666667px #00bbff, -105px 23.3333333333px #007bff, -213px -89.6666666667px #ff00f2, -27px -243.6666666667px #00ff22, 233px -48.6666666667px #9d00ff, -15px 69.3333333333px #1100ff, -87px -206.6666666667px lime, 13px -216.6666666667px #ff002b, 149px -15.6666666667px darkorange, 6px -229.6666666667px #fbff00, 215px -321.6666666667px #00ff84, -200px 82.3333333333px #00c8ff, 183px -388.6666666667px #1100ff, -106px -248.6666666667px #00b7ff, 86px 13.3333333333px #ff00f2, -73px -25.6666666667px #6f00ff, -73px -336.6666666667px #ff002f, 120px 68.3333333333px #2bff00, 218px -294.6666666667px #ff0080, 127px 10.3333333333px #ff00ee, 142px -96.6666666667px #ff0095, -204px -393.6666666667px #ff003c, -149px 22.3333333333px #9d00ff, -47px -260.6666666667px #ff8000, -76px -362.6666666667px #00ff73, -240px -146.6666666667px #ff0080, 86px -59.6666666667px #ff00e6, -207px -408.6666666667px #ff5500, 153px -10.6666666667px #00ff7b, 216px 21.3333333333px #ff0009, 89px -242.6666666667px #0066ff, 186px -226.6666666667px #ff5900, -112px -270.6666666667px #1a00ff, 38px -335.6666666667px #3c00ff, -150px 17.3333333333px #00ff77, 94px -59.6666666667px #ccff00, 46px -194.6666666667px #ff2f00, 32px -363.6666666667px lime, 250px -323.6666666667px #7bff00, 176px -413.6666666667px #00ff26, 0px -137.6666666667px #a2ff00, 94px -313.6666666667px #fffb00, 103px -350.6666666667px #7700ff, -157px -64.6666666667px #0011ff, 18px 5.3333333333px #66ff00, -240px -303.6666666667px #2bff00, -1px 55.3333333333px #0009ff, -62px -388.6666666667px #ff00f2, 20px -113.6666666667px #5900ff, -219px -277.6666666667px #1aff00, -218px -30.6666666667px #00b7ff, -235px -53.6666666667px #ff5e00, 72px -246.6666666667px #ff9100, -38px -270.6666666667px aqua, -160px -273.6666666667px #ff0400, -136px -359.6666666667px #ff6a00, 40px -257.6666666667px #00ffae, 196px 48.3333333333px #ff7b00, -180px -0.6666666667px #ff0059, 114px 72.3333333333px #ff00e1, 29px -1.6666666667px #fff700, 32px -27.6666666667px #6f00ff, 123px -21.6666666667px #4400ff, 198px -223.6666666667px #ff6200, -211px -69.6666666667px #8000ff, 137px -53.6666666667px #0400ff, 154px -296.6666666667px #55ff00, 4px -408.6666666667px #00ff77, -12px -131.6666666667px #ffbf00, 191px -348.6666666667px #0dff00, 222px -402.6666666667px #b700ff, 184px -289.6666666667px #d500ff;
  }
}
@keyframes bang {
  to {
    box-shadow: -32px -287.6666666667px #ff4800, 135px -186.6666666667px #eeff00, 30px -120.6666666667px #ff7300, -235px -393.6666666667px #00ffc8, 243px -5.6666666667px #d500ff, 25px -38.6666666667px #ff8800, 226px -215.6666666667px #00ffd0, -141px -237.6666666667px #00b7ff, -187px -393.6666666667px fuchsia, -149px -4.6666666667px #bb00ff, 194px -128.6666666667px #00ff44, -224px -188.6666666667px #9500ff, 126px -273.6666666667px #00ff73, 17px 47.3333333333px #c400ff, 114px 74.3333333333px #0022ff, 13px -120.6666666667px #ff004d, 14px -287.6666666667px #ff0051, 194px -391.6666666667px #00ff2b, -111px 43.3333333333px #6fff00, 220px -218.6666666667px #0026ff, -39px -69.6666666667px #ea00ff, -180px -380.6666666667px #001eff, 72px -84.6666666667px #2200ff, -220px 68.3333333333px #00fffb, 63px -201.6666666667px #00ffea, 13px -37.6666666667px #00ff4d, -165px -198.6666666667px #bb00ff, -220px -255.6666666667px #00ff44, 164px -385.6666666667px #48ff00, -244px -41.6666666667px #00bbff, -105px 23.3333333333px #007bff, -213px -89.6666666667px #ff00f2, -27px -243.6666666667px #00ff22, 233px -48.6666666667px #9d00ff, -15px 69.3333333333px #1100ff, -87px -206.6666666667px lime, 13px -216.6666666667px #ff002b, 149px -15.6666666667px darkorange, 6px -229.6666666667px #fbff00, 215px -321.6666666667px #00ff84, -200px 82.3333333333px #00c8ff, 183px -388.6666666667px #1100ff, -106px -248.6666666667px #00b7ff, 86px 13.3333333333px #ff00f2, -73px -25.6666666667px #6f00ff, -73px -336.6666666667px #ff002f, 120px 68.3333333333px #2bff00, 218px -294.6666666667px #ff0080, 127px 10.3333333333px #ff00ee, 142px -96.6666666667px #ff0095, -204px -393.6666666667px #ff003c, -149px 22.3333333333px #9d00ff, -47px -260.6666666667px #ff8000, -76px -362.6666666667px #00ff73, -240px -146.6666666667px #ff0080, 86px -59.6666666667px #ff00e6, -207px -408.6666666667px #ff5500, 153px -10.6666666667px #00ff7b, 216px 21.3333333333px #ff0009, 89px -242.6666666667px #0066ff, 186px -226.6666666667px #ff5900, -112px -270.6666666667px #1a00ff, 38px -335.6666666667px #3c00ff, -150px 17.3333333333px #00ff77, 94px -59.6666666667px #ccff00, 46px -194.6666666667px #ff2f00, 32px -363.6666666667px lime, 250px -323.6666666667px #7bff00, 176px -413.6666666667px #00ff26, 0px -137.6666666667px #a2ff00, 94px -313.6666666667px #fffb00, 103px -350.6666666667px #7700ff, -157px -64.6666666667px #0011ff, 18px 5.3333333333px #66ff00, -240px -303.6666666667px #2bff00, -1px 55.3333333333px #0009ff, -62px -388.6666666667px #ff00f2, 20px -113.6666666667px #5900ff, -219px -277.6666666667px #1aff00, -218px -30.6666666667px #00b7ff, -235px -53.6666666667px #ff5e00, 72px -246.6666666667px #ff9100, -38px -270.6666666667px aqua, -160px -273.6666666667px #ff0400, -136px -359.6666666667px #ff6a00, 40px -257.6666666667px #00ffae, 196px 48.3333333333px #ff7b00, -180px -0.6666666667px #ff0059, 114px 72.3333333333px #ff00e1, 29px -1.6666666667px #fff700, 32px -27.6666666667px #6f00ff, 123px -21.6666666667px #4400ff, 198px -223.6666666667px #ff6200, -211px -69.6666666667px #8000ff, 137px -53.6666666667px #0400ff, 154px -296.6666666667px #55ff00, 4px -408.6666666667px #00ff77, -12px -131.6666666667px #ffbf00, 191px -348.6666666667px #0dff00, 222px -402.6666666667px #b700ff, 184px -289.6666666667px #d500ff;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  height: auto;
  background: url(./259411664_191344466450645_1475537966378332293_n.jpg), rgba(0, 0, 0, 0.685);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: transparent;
  background-image: linear-gradient(to right, #ffa400, #fd0000);
  -webkit-background-clip: text;
}

.header p strong {
  color: transparent;
  background-image: linear-gradient(to right, #ffa400, #fd0000);
  -webkit-background-clip: text;
}

.header p {
  font-size: 18px;
}

.count-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  font-size: 50px;
  color: #fff;
}

.count-item {
  text-align: center;
}

.count-content p {
  margin-bottom: 10px;
}

.count-content span {
  background-image: linear-gradient(to right, #ffa400, #fd0000);
  -webkit-background-clip: text;
}

.header {
  color: #fff;
  text-align: center;
  font-size: 50px;
  margin-bottom: 100px;
}

.animate__flipInX {
  animation-delay: 0.8s;
}

.footer {
  text-align: center;
  margin-top: 120px;
  color: #ffffff;
  font-size: 15px;
}

.footer a {
  text-decoration: none;
  color: #00ffff;
}

@media screen and (max-width: 1279px) {
  body {
    padding: 50px 30px;
  }

  .count-list {
    flex-direction: column;
  }

  .header h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }

  .header p {
    font-size: 13px;
  }

  .count-content p {
    font-size: 45px;
  }

  .count-content span {
    font-size: 25px;
  }

  .footer {
    font-size: 10px;
    line-height: 1;
  }
}

/*# sourceMappingURL=style.css.map */
